@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: #201b2c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00ff88;
    clip-path: circle(50% at bottom right);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    position: relative;
    max-width: 150px;
    margin: -50px 10px 10px 0px;

}

header .navegation ul {
    position: relative;
    display: flex;

}
header .navegation li{
    list-style: none;

}

header .navegation li a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    margin-left: 100;
    margin: 0px 10px 10px 10px;
    
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .text {
    position: relative;
    max-width: 600px;
    margin-right: 20px;


}

.container .text h2 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
}

.container .text h2 span {
    font-size: 3.5em;
    color: #00ff88;
}

.container .text p {
    color: #fff;

}

.container .text a {
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background: #00ff88;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}

.container .text a:hover {
    transform: translateY(-10px);
}